.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0; 
    right: 0;
    bottom: 0;
    background-color: rgba(49, 46, 46, 1);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 720px;
    height: 340px;
    box-sizing: border-box;
    background-color: #e74c3c;
    border-radius: 4px;


    .modal-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        font-family: Roboto,sans-serif;
        font-weight: 400;
        color: #fff;

        .modal-close {
            position: absolute;
            right: 28px;
            top: 15px;
            font-size: 40px;
            font-weight: 100;
            display: inline-flex;
            vertical-align: middle;
            text-align: center;
            box-sizing: border-box;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            border: none;
            color: #fff;
            cursor: pointer;
            user-select: none;
            background-color: transparent;
          }

        .modal-header {
            width: 720px;
            height: 85px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #d44637;
            
            & h2 {
                margin: 0 30px;
                font-size: 32px;
            }
        }
        .body-text {
            margin: 30px;
            line-height: 1.6;
        }
        .modal-body_background {
            width: 100%;
            display: block;
        }
    }
}